In [3]:
import numpy as np
import pandas as pd

In [4]:
vname = 'IL34_SOC1_1'

In [5]:
df = pd.read_csv('C:\\Users\\Ben\\Desktop\\IL34_SOC1\\analysis\\frame_values\\IL34_SOC1_1_frame_val.csv')

In [6]:
status, frames = np.unique(df['0'], return_counts = True)

In [7]:
output_df = pd.DataFrame(np.append(vname, frames), np.append('VideoName', status)).T

In [8]:
output_df

     VideoName Somewhere else X Close X Investigation Y Close Y Investigation
0  IL34_SOC1_1          11665    2884            3384    2389            2422

In [12]:
def time_df(df_times, v_location):

    import numpy as np
    import os
    import cv2


	## import the time dataframe and calculate when the sociability and social novelty occur based on start time ##
	## in the future, it would be nice to be able to specify ONLY soc, or ONLY snp, or both ##
    df_times.dropna(inplace = True)

    df_times['StopSocialSec'] = df_times['StartSocialSec'] + 300
    df_times['StopNovelSec'] = df_times['StartNovelSec'] + 300

	### we want to iterate through the rows, grab the video name, open corresponding video, extract framerate, and then multiply startSec cols

    frameRate = np.zeros(len(df_times))
    StartSocialFrames = np.zeros(len(df_times))
    StartNovelFrames = np.zeros(len(df_times))
    StopSocialFrames = np.zeros(len(df_times))
    StopNovelFrames = np.zeros(len(df_times))

    for i in range(len(df_times)):
	    cap = cv2.VideoCapture(os.path.join(v_location, df_times['VideoName'][i] + '.mp4'))
	    frameRate[i] = cap.get(cv2.CAP_PROP_FPS)
	    StartSocialFrames[i] = df_times['StartSocialSec'][i] * frameRate[i]
	    StartNovelFrames[i] = df_times['StartNovelSec'][i] * frameRate[i]
	    StopSocialFrames[i] = df_times['StopSocialSec'][i] * frameRate[i]
	    StopNovelFrames[i] = df_times['StopNovelSec'][i] * frameRate[i]



    df_times['StartSocialFrames'] = StartSocialFrames
    df_times['StartNovelFrames'] = StartNovelFrames
    df_times['StopSocialFrames'] = StopSocialFrames
    df_times['StopNovelFrames'] = StopNovelFrames

	## returning the prepared df_times, which has the calculated start and stop frames based on the framerate of each video ##
    return df_times

In [14]:
new_df_times = time_df(df_times,'C:\\Users\\Ben\\Desktop\\IL34_SOC1\\mp4s')

In [11]:
df_times = pd.read_csv('C:\\Users\\Ben\\Desktop\\IL34_SOC1\\analysis\\start_times.csv')

In [47]:
behavior_type = 'Social'

### first, we need to get the column IDs
df = pd.read_csv('C:\\Users\\Ben\\Desktop\\IL34_SOC1\\analysis\\frame_values\\' + df_times['VideoName'][0] + '_frame_val.csv')
status, frames = np.unique(df['0'][i1:i2], return_counts = True)
final_df = pd.DataFrame(index = np.append('VideoName', status)).T.set_index('VideoName')

### now loop through every video and calculate the # of frames spent for each, then divide by framerate
for index, values in df_times.iterrows():

         df = pd.read_csv('C:\\Users\\Ben\\Desktop\\IL34_SOC1\\analysis\\frame_values\\' + values['VideoName'] + '_frame_val.csv')

         i1 = int(values['Start' + behavior_type + 'Frames'])
         i2 = int(values['Stop' + behavior_type + 'Frames'])

         cap = cv2.VideoCapture(os.path.join(v_location, values['VideoName'] + '.mp4'))
         frameRate = cap.get(cv2.CAP_PROP_FPS)
        
         status, frames = np.unique(df['0'][i1:i2], return_counts = True)

         output_df = pd.DataFrame(np.append(values['VideoName'], frames), np.append('VideoName', status)).T.set_index('VideoName').astype('float')/frameRate

         final_df = final_df.append(output_df)

In [49]:
final_df

,Somewhere else,X Close,X Investigation,Y Close,Y Investigation
VideoName,,,,,
IL34_SOC1_1,147.433333,44.800000,58.800000,23.466667,23.833333
IL34_SOC1_2,181.466667,39.533333,30.666667,22.100000,24.633333
IL34_SOC1_3,163.766667,25.633333,24.033333,44.966667,39.833333
IL34_SOC1_4,259.266667,4.866667,3.666667,9.900000,20.300000
IL34_SOC1_5,147.200000,49.966667,54.866667,26.766667,19.133333
IL34_SOC1_6,285.833333,0.066667,2.600000,2.766667,6.833333
IL34_SOC1_7,151.633333,76.833333,46.033333,13.800000,9.833333
IL34_SOC1_8,167.133333,59.466667,55.166667,5.733333,10.400000
IL34_SOC1_9,149.300000,21.366667,23.000000,50.633333,53.733333
IL34_SOC1_10,191.533333,19.866667,17.100000,29.566667,40.266667
IL34_SOC1_11,160.733333,55.066667,54.300000,9.500000,18.366667
IL34_SOC1_12,170.933333,1.333333,0.466667,58.500000,66.866667
IL34_SOC1_13,221.566667,15.466667,17.666667,25.000000,18.233333
IL34_SOC1_14,154.366667,23.200000,14.866667,49.066667,56.633333
IL34_SOC1_15,183.333333,42.133333,36.633333,18.266667,17.566667
IL34_SOC1_16,178.233333,25.266667,55.500000,20.400000,18.666667
IL34_SOC1_17,141.133333,36.066667,31.133333,41.266667,48.400000
IL34_SOC1_18,149.600000,45.600000,53.833333,21.133333,27.600000
IL34_SOC1_19,214.700000,23.033333,26.233333,21.866667,12.400000
IL34_SOC1_20,145.866667,41.066667,27.933333,44.633333,38.300000
IL34_SOC1_21,228.733333,29.833333,39.633333,NaN,NaN
IL34_SOC1_22,191.300000,38.400000,42.400000,13.500000,12.266667
IL34_SOC1_23,194.233333,13.600000,8.233333,36.966667,44.700000
IL34_SOC1_24,172.033333,18.133333,15.433333,54.733333,37.900000
IL34_SOC1_25,184.500000,22.766667,10.633333,42.300000,37.900000
IL34_SOC1_26,198.000000,15.966667,15.566667,31.400000,36.900000
IL34_SOC1_27,134.900000,87.100000,72.300000,2.866667,0.833333

In [24]:
final_df

Empty DataFrame
Columns: [Videoname, Somewhere else, X Close, X Investigation, Y Close, Y Investigation]
Index: []