In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('C:\\Users\\Ben\\OneDrive - Duke University\\bilbo_lab\\il34_project\\il34_behavior\\sociability\\IL34_SOC1\\analysis\\csv_output\\IL34_SOC1_4DLC_resnet_50_social_behavior_allMay27shuffle1_250000.csv', header = [1, 2])

In [11]:
df

      bodyparts        nose                          right ear              \
         coords           x           y likelihood           x           y
0             0   -1.105721  619.421814   0.000021   -1.469880  618.408752
1             1   -1.140452  619.417725   0.000020   -1.485483  618.479309
2             2   -1.141082  619.421570   0.000021   -1.451334  618.510376
3             3   -1.103539  619.387512   0.000021   -1.428137  618.437195
4             4   -1.070024  619.484314   0.000022   -1.459079  618.423218
...         ...         ...         ...        ...         ...         ...
20391     20391  897.096863  510.219635   0.999997  916.144897  497.727905
20392     20392  892.992859  507.731812   0.999994  913.243896  496.555054
20393     20393  889.445312  506.279999   0.999977  910.873291  495.332214
20394     20394  887.393799  504.195465   0.999998  908.258423  493.998718
20395     20395  884.270874  498.386200   0.999998  908.371826  491.223450

                    left ear                               tail              \
      likelihood           x           y likelihood           x           y
0       0.000004   -1.213556  620.036743   0.000007    1.025907  620.369507
1       0.000004   -1.160391  620.084473   0.000007    0.992026  620.314209
2       0.000004   -1.111376  620.103210   0.000007    0.990664  620.322327
3       0.000004   -1.099901  620.055359   0.000007    0.995562  620.329773
4       0.000005   -1.182036  620.044739   0.000007    1.030214  620.442932
...          ...         ...         ...        ...         ...         ...
20391   1.000000  923.460754  512.272827   0.999996  943.834229  465.844360
20392   0.999998  917.559387  511.808014   0.999997  944.465759  465.614960
20393   0.999988  914.020813  510.513611   0.999998  945.715759  466.347168
20394   0.999983  911.164246  509.655029   0.999997  947.889404  467.751953
20395   0.999995  908.633667  507.290985   0.999995  948.494202  468.607422


      likelihood
0       0.000004
1       0.000003
2       0.000004
3       0.000004
4       0.000004
...          ...
20391   1.000000
20392   1.000000
20393   1.000000
20394   1.000000
20395   1.000000

[20396 rows x 13 columns]

In [16]:
import more_itertools as mit


iterable = df[df['nose']['likelihood'] < 0.95].index.values[600:650]
z = [list(group) for group in mit.consecutive_groups(iterable)]

In [21]:
for group in z:
    print(group)
    #print(np.sum(df.loc[group]))
    print(group[0] - 1)
    print(group[-1] + 1)

[10423, 10424]
10422
10425
[10442]
10441
10443
[10444, 10445, 10446, 10447, 10448]
10443
10449
[10559, 10560, 10561, 10562, 10563, 10564, 10565, 10566, 10567, 10568, 10569, 10570, 10571, 10572, 10573, 10574, 10575, 10576, 10577, 10578, 10579, 10580, 10581, 10582, 10583, 10584, 10585, 10586]
10558
10587
[10882, 10883, 10884, 10885, 10886, 10887, 10888, 10889, 10890, 10891, 10892, 10893]
10881
10894
[11458, 11459]
11457
11460

In [104]:
def process_csv(df):
    nosex = df['nose']['x'].values
    nosey = df['nose']['y'].values

    leftx = df['left ear']['x'].values
    lefty = df['left ear']['y'].values

    rightx = df['right ear']['x'].values
    righty = df['right ear']['y'].values

    tailx = df['tail']['x'].values
    taily = df['tail']['y'].values

    for i in range(len(df) - 1):
        i = i+1
        if df['nose']['likelihood'].loc[i] < 0.98:
            nosex[i] = nosex[i-1]
            nosey[i] = nosey[i-1]
            tailx[i] = tailx[i-1]
            taily[i] = taily[i-1]

        if df['right ear']['likelihood'].loc[i] < 0.98:
            rightx[i] = rightx[i-1]
            righty[i] = righty[i-1]

        if df['left ear']['likelihood'].loc[i] < 0.98:
            leftx[i] = leftx[i-1]
            lefty[i] = lefty[i-1]
            
    df_processed = pd.DataFrame([nosex, nosey, rightx, righty, leftx, lefty, tailx, taily]).T
    colnames = df.T.loc[[('nose', 'x'), ('nose', 'y'), ('right ear', 'x'), ('right ear', 'y'), ('left ear', 'x'), ('left ear', 'y'), ('tail', 'x'), ('tail', 'y')]].T.columns
    
    df_processed.columns = colnames
    
    return df_processed

In [106]:
process_csv(df)

             nose               right ear                left ear              \
                x           y           x           y           x           y
0       -1.105721  619.421814   -1.469880  618.408752   -1.213556  620.036743
1       -1.105721  619.421814   -1.469880  618.408752   -1.213556  620.036743
2       -1.105721  619.421814   -1.469880  618.408752   -1.213556  620.036743
3       -1.105721  619.421814   -1.469880  618.408752   -1.213556  620.036743
4       -1.105721  619.421814   -1.469880  618.408752   -1.213556  620.036743
...           ...         ...         ...         ...         ...         ...
20391  897.096863  510.219635  916.144897  497.727905  923.460754  512.272827
20392  892.992859  507.731812  913.243896  496.555054  917.559387  511.808014
20393  889.445312  506.279999  910.873291  495.332214  914.020813  510.513611
20394  887.393799  504.195465  908.258423  493.998718  911.164246  509.655029
20395  884.270874  498.386200  908.371826  491.223450  908.633667  507.290985

             tail
                x           y
0        1.025907  620.369507
1        1.025907  620.369507
2        1.025907  620.369507
3        1.025907  620.369507
4        1.025907  620.369507
...           ...         ...
20391  943.834229  465.844360
20392  944.465759  465.614960
20393  945.715759  466.347168
20394  947.889404  467.751953
20395  948.494202  468.607422

[20396 rows x 8 columns]